@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-weight: 300;
  src: url('../fonts/montserrat-v31-cyrillic_latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('../fonts/montserrat-v31-cyrillic_latin-regular.woff2')
    format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-weight: 600;
  src: url('../fonts/montserrat-v31-cyrillic_latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-weight: 900;
  src: url('../fonts/montserrat-v31-cyrillic_latin-900.woff2') format('woff2');
}

:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --color-copyright: #a18268;
}
/* global */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.accent {
  color: var(--color-brand-light);
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.section {
  padding: 48px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.accent-title {
  color: var(--color-brand-dark);
}

address {
  font-style: normal;
}

/* button */

.button {
  padding: 16px 32px;
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 8px;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

/* link */

.link {
  color: var(--color-primary-light);
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-light);
  /* text-decoration: underline; */
  font-weight: 600;
}

/* hero section */

.hero-section {
  padding: 192px 0;
}

.hero-title {
  margin-bottom: 0;
  color: var(--color-primary-light);
  text-align: center;
  text-transform: uppercase;
  font-size: 128px;
  font-weight: 900;
}

/* advateges section */

.advateges-list {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
}

.advateges-item {
  font-size: 20px;
  font-weight: 300;
}

/* traditions sections */

.traditions-section {
  padding-top: 96px;
}

.traditions-title {
  margin-bottom: 42px;
}

/* chefs section */

.chefs-title {
  margin-bottom: 80px;
}

.chef-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

/* formats section */

.formats-title {
  margin-bottom: 80px;
}

.formats-list {
  color: var(--color-primary-light);
}

.format-title {
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  font-size: 14px;
  font-weight: 600;
}

/* contact section */
.contact-section {
  padding-bottom: 96px;
}

.contact-title {
  margin-bottom: 16px;
}

/* footer */
.footer {
  color: var(--color-primary-light);
  background-color: var(--color-primary-dark);
}

.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-brand-dark);
}

.address-copyright {
  color: var(--color-copyright);
  font-size: 14px;
}
